<!doctype html>
<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Elite Fitness</title>

    <!-- Ionic Libs -->
    <link rel="stylesheet" href="lib/ionic/css/ionic.css">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- My App Libs-->
    <link href="style/main.css" rel="stylesheet">
    <script src="scripts/main.js"></script>
    <script src="js/app.js"></script>
    <script src="scripts/Chart.js"></script>
  </head>

  <body ng-controller="MainCtrl" ng-app="ionicApp">
  
    <ion-nav-bar class="bar-light">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

	<!-- INTRODUCTION TEMPLATE -->
    <script id="templates/intro.html" type="text/ng-template"> 
      <ion-view view-title="">
        <ion-nav-buttons side="left">
	       	<a href="#/event/home" menu-close>
          <button class="button button-positive button-clear "
                  ng-click="startApp()" ng-show="!slideIndex"> 
            Skip Intro
          </button>
		  </a>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
          </button>
		  
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
		  <a href="#/event/home" menu-close>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Begin >
          </button>
		  </a>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <h3 style="padding-top:20px;">Thank You<br>For Choosing Us!</h3>
            <div id="logo">
              <img style="width:300px;padding-top:20px;padding-bottom:0px;" src="images/logo.png">
            </div>
            <p style="padding:15px;">
              We have worked super hard to make this App one of the best calorie trackers on the market.
            </p>
            <p style="padding:5px;">
              Please follow this intro to make sure you get the most out of the Elite Fitness App.
            </p>
          </ion-slide>
          <ion-slide>
            <h3 style="padding-top:20px;">Using Awesome</h3>
            <h5>Just three steps:</h5>
            <div id="list">
              <ol>
                <li style="font-size:15px;"><div style="color:#3299CC;font-size:17px; ">Set Up-</div>Calculate your maintenance caloric intake using our simple calculator</li><br><hr><br>
                <li style="font-size:15px;"><div style="color:#3299CC; font-size:17px;">Set Goals-</div>Define weight loss/gain goals and set daily caloric intake </li><br><hr><br>
                <li style="font-size:15px;"><div style="color:#3299CC; font-size:17px;">Track Progress-</div>Use our charts to track your progress to a healthier you! </li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3 style="padding-top:130px;">Share & Rate!</h3>
            <p style="padding:30px;padding-bottom:50px">
              If you liked this App Please Rate and Share Elite Fitness!
            </p>
			<a href="#/event/home" menu-close>
			<button style="width:120px;" class="button icon-right ion-chevron-right button-positive">Begin</button>
			</a>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
    </script>

    <!--FORM FOR BMR & MAINTANANCE -->
    <script id="templates/mylongform.html" type="text/ng-template" >
        <ion-modal-view class="product edit create" >
          <form name="itemEdit"  novalidate>
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal()">OK</a>
              <h1 class="title">Results</h1>
            </ion-header-bar>
            <ion-content has-bouncing="true" style="padding:30px;text-align:center;">
            <h3><span id="span1" style="color:#1A7AB2"></span></h3>

            <h4><br><br>
            Your Basal Metabolic Rate (BMR) is the amount of calories you would burn if you were asleep all day. The Harris Benedict Equation determines your total daily energy expenditure (calories).
              
            </h4>
            <br/>
            <a href="#/event/home"style="text-decoration: none;border:0px;"  class="item" menu-close><button ng-click="closeModal()" class="button button-full button-positive">
            Save Maintenance
            </button></a>

            </ion-content>
          </form>
        </ion-modal-view>
    </script>


    <!--MY MODULE FOR PIE CHART -->
    <script id="templates/mylongform2.html" type="text/ng-template" >
        <ion-modal-view class="product edit create" >
          <form name="itemEdit"  novalidate>
            <ion-header-bar class="bar-positive fix-buttons">
              <a class="button" ng-click="closeModal2()">OK</a>
              <h1 class="title">Results</h1>
            </ion-header-bar>
            <ion-content has-bouncing="true" style="padding:30px;text-align:center;">
            <h2 style="color:#3299CC;">Remaining</h2><h2> VS</h2><h2 style="color:#F7464A;">Consumed</h2>


                  <div id="canvas-holder">
            <canvas id="chart-area" width="300" height="300"/>
          </div>
            <br/>
            <button ng-click="closeModal2()" class="button button-full button-positive">
            Close Chart
            </button>

            </ion-content>
          </form>
        </ion-modal-view>
    </script>
	
	<!-- MENU TEMPLATE -->
	 <script id="templates/event-menu.html" type="text/ng-template">
	 <div class="bar bar-footer bar-light">
  <div class="title"><img style="width:160px;padding-top:5px;padding-bottom:5px;" src="images/logo.png"></div>
</div>
      <ion-side-menus enable-menu-with-back-views="true">

        <ion-side-menu-content>
          <ion-nav-bar class="bar-light">
            

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>

          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content> 

        <ion-side-menu side="left">
          <ion-header-bar class="bar-positive">
            <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
      			  <a href="#/event/home" class="item icon ion-ios-home" menu-close>&nbsp;&nbsp;&nbsp; Home</a>
      			  <a href="#/event/calculator" class="item icon ion-calculator" menu-close>&nbsp;&nbsp;&nbsp; Calculator</a>
      			  <a href="#/event/check-in" class="item icon ion-disc" menu-close>&nbsp;&nbsp;&nbsp; Targets</a>
              <a href="#/event/test" class="item icon ion-clipboard" menu-close>&nbsp;&nbsp;&nbsp; Diary</a>
              <a href="#/event/progress" class="item icon ion-arrow-graph-up-right" menu-close>&nbsp;&nbsp;&nbsp; Progress</a>
            </ul>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

	<!--CONSUMED TEMPLATE -->
    <script id="templates/test.html" type="text/ng-template">
      <ion-view view-title="Consumed/Expended">
        <ion-content class="padding">          
              <input id="consumed" type="tel" placeholder="Calories" style="float:left;padding-left:20%;font-size:20px;width:200px;">
              <button ng-click="saveConsumed()" class="button button-light icon ion-plus-circled"></button>
              <button ng-click="saveExpent()" class="button button-light icon ion-minus-circled"></button>
              <h3 style="text-align:center;">DIARY LOG</h3>
              <span style="text-align:center;widht:300px;"id="consumedSpan"></span>
              <hr>
              Total:<span style="text-align:center;widht:300px;padding-bottom:100px;"id="consumedTotal"></span><br>
              <button style="float:right"ng-click="clearLog()" class="button button-light icon ion-trash-a">
              Clear Log
              </button>
        </ion-content>
      </ion-view>
    </script>


    <!--PROGRESS TEMPLATE -->
    <script id="templates/progress.html" type="text/ng-template">
      <ion-view view-title="Charts/Graphs">
        <ion-content class="padding" >    
          <div id="canvas-holder">
          <ul>
          <li style="padding-b:50px;">
          <canvas id="chart-area5" width="350" height="300"/>
          </li>
          <li style="padding-bottom:50px;">
          <canvas id="chart-area2" width="350" height="300"/>
          </li>
          <li style="padding-bottom:50px;">
          <canvas id="chart-area6" width="350" height="300"/>
          </li>
          </ul>
        </div>
        </ion-content >
      </ion-view>
    </script>
	
	
	<!--CALCULATOR TEMPLATE -->
	<script id="templates/calculator.html" type="text/ng-template">
      <ion-view view-title="Maintenance Calculator">
        <ion-content class="padding" style="font-size:20px;">
		<form>
          <ul class="list">
		  <li>
		  <label class="item item-input">
		  <span class="input-label">Age </span>
		  <input type="tel" id="age">
		  </label>
		  </li>
		  
		  
		  <li class="item item-toggle" >
			 <div >Female</div>
			 <label class="toggle toggle-positive" style="margin-left: auto;
			 margin-right: auto;
			 width: 55%;">
      			   <input type="checkbox" ng-model="ni_toggle" ng-change="updateLocalStorage()" id="gender"/>
      			   <div class="track"  >
      				 <div class="handle" ></div>
      			   </div>
      			   <div style="float:right;font-size:20px;">Male</div>
			 </label>
		  </li>

		  <li>
		   <label class="item item-input item-select" >
			<div class="input-label">
			  Activity
			</div>
			<select id="exc" >
			  <option value="1">Little or no excercise</option>
			  <option value="2" selected>Excercise 1-3 times/wk</option>
			  <option value="3">Excercise 3-5 times/wk</option>
			  <option value="4">Excercise 6-7 times/wk</option>
			  <option value="5">+ Excercise/physical job</option>
			</select>
		  </label>
		  </li>

		<li>
		  <label class="item item-input">
		  <span class="input-label">Weight (kg)</span>
		  <input id="weight" type="tel" ng-model="input.weight">
		  </label>
		  </li>
		  
		  <li>
      <label class="item item-input">
      <span class="input-label">Height (cm) </span>
      <input type="tel" ng-model="input.height" id="height">
      </label>
      </li>
      <h6 style="color:red;text-align:center;padding-left:40px;padding-right:20px;">NOTE:<br />If you would like 
      to use a custom maintenance weight please us the pen icon on the left!</h6>
      <a class="button button-icon icon ion-settings" ng-click="showPopup2()" style="position:absolute;margin-left:10px;margin-top:-20px"></a>
		</ul>

		<div style="margin-left: auto; margin-right: auto; width: 50%;padding-top:0px;padding-bottom:100px;">
		<a on-touch="onTouch()" ng-click="openModal()"><img style="width:180px;"src="images/go.png "></a></div>
		<form>
        </ion-content>
      </ion-view>
    </script>

    <script id="popup-template.html" type="text/ng-template">
      <input ng-model="data.num" type="tel" placeholder="Gain/Loss">
    </script>

	<!--TARGETS TEMPLATE -->
    <script id="templates/check-in.html" type="text/ng-template">
      <ion-view view-title="Targets">
        <ion-content>
        <div class="row">
        <div class="col" ng-controller="MainCtrl">
          <button class="button button-full button-dark" ng-click="showPopup()">
            Gain/Loose Custom amount per week
          </button>

          <button class="button button-full button-balanced" ng-click="showConfirm()">
            Gain 2kg per week
          </button>

          <button class="button button-full button-balanced" ng-click="showGain15()">
            Gain 1.5kg per week
          </button>

          <button class="button button-full button-balanced" ng-click="showGain1()">
            Gain 1kg per week
          </button>

          <button class="button button-full button-balanced" ng-click="showGain05()">
            Gain 0.5kg per week
          </button>

          <button class="button button-full button-positive" ng-click="showMaintain()">
            Maintain Current Weight
          </button>

          <button class="button button-full button-assertive" ng-click="showLoss05()">
            Loose 0.5kg per week
          </button>

          <button class="button button-full button-assertive" ng-click="showLoss1()">
            Loose 1kg per week
          </button>

          <button class="button button-full button-assertive" ng-click="showLoss15()">
            Loose 1.5kg per week
          </button>

          <button class="button button-full button-assertive" ng-click="showLoss2()">
            Loose 2kg per week
          </button>

			  </div>
        </div>
        </ion-content>
      </ion-view>
    </script>
	
	<!--OVERVIEW TEMPLATE -->
	<script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Overview" >
      	  <ion-content >

        		<a href="#/event/calculator" menu-close><div class="item item-body">
              <span style="position:absolute;padding-top:75px;padding-left:130px;color:#3299CC" id="Maintain">0</span>
        	   	<img class="full-image" src="images/maintain.jpg">
        		</div></a>

            <a href="#/event/check-in" menu-close><div class="item item-body">
            <span style="position:absolute;padding-top:75px;padding-left:130px;color:#3299CC" id="Target">0</span>
        		
        		  <img class="full-image" src="images/target.jpg">
        		</div></a>

            <a href="#/event/test" menu-close>
            <div class="item item-body">
            <span style="position:absolute;padding-top:75px;padding-left:130px;color:#3299CC" id="Consumed">0</span>
              <img class="full-image" src="images/consumed.jpg">
            </div></a>


            <div ng-click="openModal2()">
        		<div class="item item-body">
            <span style="position:absolute;padding-top:75px;padding-left:130px;color:#3299CC" id="Remaining">0</span>
        		  <img class="full-image" src="images/remain.jpg">
        		</div> </div>  	

            <a href="#/event/progress" menu-close>
            <div class="item item-body" style="margin-bottom:40px;">
              <img class="full-image" src="images/progress.jpg">
            </div></a>
          </ion-content >
      </ion-view>
    </script>
    
  </body>
</html>